body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(1, 34, 1);
    color: white;
    height: 100px;
    padding: 0 50px;
}

header h1 {
    margin-left: 50px;
}

.nav {
    display: flex;
    margin-right: 30px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.nav a:hover {
    text-decoration: underline;
}

footer {
    height: 40px;
    color: white;
    background-color: rgb(1, 34, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: auto;
}

.box-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
    position: relative;
}

.texto-sobre-imagem {
    position: absolute;
    top: 240px;           
    left: 50px;  
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .texto-sobre-imagem {
        font-size: 18px;
        top: 30%;
        left: 5%;
    }
}

.texto-principal {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    flex: 1;
    margin-left: 50px;
}

.box-texto-img {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.box-texto-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 40px;
}


@media (max-width: 768px) {
    .box-texto-img {
        flex-direction: column;
        align-items: center;
    }

    .texto-principal {
        margin-left: 0;
    }
}
